*{
  text-align: center;
}
#but{
  margin-top: 100px;
  display: flex;
  justify-content: left;
  margin-left: 20px;
}
#desc{
  display: flex;
  margin-top: 100px;
  justify-content: left;
  color: rgb(48, 7, 180);
  font-size: larger;
  text-align: left;
}
#desc:hover{
  text-shadow: pink;
}
body{
  background-image: url('Screenshot\ \(75\).png');
  background-size: 1000px;
}

#create{
  height: 30px;
  width: 100px;
  margin-right: 4px;
  background-color: rgb(104, 104, 243);
  
}
#edit{
  height: 30px;
  width: 100px;
  background-color: rgb(104, 104, 243);
}
h1{
  color: rgba(12, 12, 222);
  font-size: xxx-large;
}
#create:hover{
  border: 3px blue solid;
}
#edit:hover{
  border: 3px blue solid;
}
#edit:active{
  background-color: blue;
}
#create:active{
  background-color: blue;
}
